:root{
  --g: green;
  --w: white;
  --b: black;
  --lw: rgb(199, 199, 199);
}
div{
  width: 100%;
  background-color: #f9fff9;
}
.td-2{
  transition-duration: 0.2s;
}
.td-5{
  transition-duration: 0.5s;
}
.bgw{
  background-color: var(--w);
}
